# Arquivos de configuração do usuário
*.suo
*.user
*.userosscache
*.sln.docstates

# Arquivos de compilação
/[Bb]in/
/[Oo]bj/

# Arquivos de cache e temporários do .NET Core
.project.lock.json
project.fragment.lock.json
project.assets.json

# Arquivos de log
*.log

# Arquivos do Visual Studio
.vs/
*.csproj.user
*.sln.dotsettings.user

# Arquivos de pacotes
/packages/

# Arquivos de publicação
/publish/
*.pubxml
*.pubxml.user

# Arquivos de configuração local (para evitar o envio de segredos)
appsettings.Development.json
appsettings.local.json

# Arquivos gerados pelo sistema
*.cache
*.generated.cs
*.g.cs
*.g.i.cs

# Outros
*.swp
*~
*.*~